<body>
  <div class="container1">
  <%=render "shared/nav_bar.html.erb"%>
    <div class="hero-container">
      <h1>Thank You</h1>
    </div>
  </div>
  <%=render "shared/socials_block.html.erb"%>

<h1>Thank You</h1>
<p>name <%= @message.name%>
<p>name <%= @message.email%>
<p>name <%= @message.message%>