<nav>
  <div class="navbar-links">
    <%= link_to "ABOUT", about_path, class: "navbar-link" %>
    <%= link_to "PORTFOLIO", portfolio_path, class: "navbar-link" %>
    <%= link_to "CONTACT", contact_path, class: "navbar-link" %>
    <%= link_to "BLOG", blog_path, class: "navbar-link" %>
  </div>
</nav>
<div class="navbar">
  <div class="navbar-logo">
  <%=link_to root_path do%>
  <%= image_tag 'MK.png', alt:'logo image' %>
  <% end %>
  </div>
  <div id="button">
    <label>
      <input type="checkbox" value="1"><span class="fas fa-bars ham"></span>
      <div class="menu"> 
        <ul>
          <%=link_to "ABOUT", about_path, class: "navbar-link" %>
          <%=link_to "PORTFOLIO", portfolio_path, class: "navbar-link" %>
          <%=link_to "CONTACT", contact_path, class: "navbar-link" %>
          <%=link_to "BLOG", blog_path, class: "navbar-link" %>
        </ul>
      </div>
    </label>
  </div>
</div>
